<mat-nav-list>
  <div class="logo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="30"
      viewBox="0 0 24 24"
      width="30"
      class="svg"
    >
      <path d="M0 0h24v24H0z" fill="none" />
      <path
        d="M7 13c1.66 0 3-1.34 3-3S8.66 7 7 7s-3 1.34-3 3 1.34 3 3 3zm12-6h-8v7H3V5H1v15h2v-3h18v3h2v-9c0-2.21-1.79-4-4-4z"
      />
    </svg>
    <span class="first">KAKSH</span>
    <!-- <img src="" alt=""> -->
  </div>
  <mat-divider></mat-divider>
 <h2 matSubheader class="header">Filter Hotels By</h2>
 <!-- <div>
    <div class="dropdown">
        <a mat-list-item (click)="getFilterTypes(keys[6])" class="dropbtn" (mouseenter)="show = !show"> Property Type</a>
            <div class="dropdown-content" *ngFor="let filter of filterTypes" >
                <span *ngIf ="show">
                <a [routerLink]="['/hotel-view',keys[6],filter]">{{ filter }}</a>
            </span>
            </div>
    </div>
    <div class="dropdown">
        <a mat-list-item (click)="getFilterTypes(keys[5])" class="dropbtn"> Star Ratings</a>
            <div class="dropdown-content" *ngFor="let star of filterTypes" >
                <a href="#">{{ star }}</a><br>
            </div>
    </div>
  <a mat-list-item (click)="getFilterTypes('Property Type')"> Price</a>
    <div class="dropdown">
        <a mat-list-item (click)="getFilterTypes('Facilitities')" class="dropbtn"> Facilities</a>
            <div class="dropdown-content" *ngFor="let facility of filterTypes" >
                <a href="#">{{ facility }}</a><br>
            </div> 
    </div>
</div> -->
<mat-list-item *ngFor="let item of choices " >
    <span mat-flat-button (click)="getFilterTypes(item)" [matMenuTriggerFor]="menu">
        {{item}}
    </span>
    <mat-menu #menu="matMenu" [ngStyle]="{'background-color':'#43caca'}">
        <button mat-menu-item *ngFor="let filter of filterTypes" [routerLink]="['/hotel-view',item,filter]">{{filter}}</button>
    </mat-menu>
</mat-list-item>
</mat-nav-list>
<!-- <div class="propertyType-container" *ngFor="let property of propertyTypes" (toggleSidebarForMe)="sideBarToggler()">
    <a href="#">{{ property }}</a><br>
</div> -->

<!-- <mat-list-item *ngFor="let item of choices " >
    <button mat-flat-button (click)="showFiller(item)" [matMenuTriggerFor]="menu">
        {{item | uppercase}}
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let dat of value" (click) ="getFilter(item,dat)">{{dat}}</button>
    </mat-menu>
</mat-list-item> -->