<!-- <p>login works!</p> -->
<button onclick="history.back()" class="back"><mat-icon ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
  <path fill="currentColor" d="M13.5 21H6V17H13.5C15.43 17 17 15.43 17 13.5S15.43 10 13.5 10H11V14L4 8L11 2V6H13.5C17.64 6 21 9.36 21 13.5S17.64 21 13.5 21Z" />
</svg></mat-icon></button>

<div id="login-form" class="login-page">
  <div class="form-box">
    <h3>Login</h3>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="input-group-login">
  <mat-form-field appearance="outline">
             <mat-label>Enter username</mat-label>
             <input matInput class="input-field"
             placeholder="Enter username"
              formControlName="username" required>
             <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
         </mat-form-field>
 
     <br>
         <mat-form-field appearance="outline">
             <mat-label>Enter Password</mat-label>
             <input type="password" matInput class="input-field"
             placeholder="Enter password" formControlName="password" required>
         </mat-form-field>
         <br>
 <button 
   mat-raised-button 
   mat-dialog-close 
   cdkFocusInitial
   type="submit"
   class="submit-btn">Login</button>
 </form>
</div>
</div>
<!-- [ngStyle]="{'background-color': '#129c00','color': '#fff'}" -->
<!-- <div id="login-form" class="login-page">
  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" onclick="login()" class="toggle-btn">Log In</button>
      <button type="button" onclick="signup()" class="toggle-btn">
        Sign Up
      </button>
    </div> -->
    <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" id="login" class="input-group-login">
      <input
        type="text"
        class="input-field"
        placeholder="Enter username"
        required
        formControlName="username"
      />
      <input
        type="password"
        class="input-field"
        placeholder="Enter Password"
        required
        formControlName="password"
      />
      <button type="submit" class="submit-btn">Log In</button>
    </form> -->
    <!-- <form id="signup" class="input-group-signup">
      <input
        type="text"
        class="input-field"
        placeholder="Create username"
        required
      />
      <input
        type="password"
        class="input-field"
        placeholder="Create new password"
        required
      />
      <input
        type="password"
        class="input-field"
        placeholder="Confirm password"
        required
      />
      <button type="submit" class="submit-btn">Sign Up</button>
    </form> -->
  <!-- </div>
</div> -->
<!-- <script>
    var x=document.getElementById('login');
    var y=document.getElementById('register');
    var z=document.getElementById('btn');
    function register(){
        x.style.left='-400px';
        y.style.left='50px';
        z.style.left='110px';
       }
       function login{
        x.style.left='50px';
        y.style.left='450px';
        z.style.left='0px';   
       }
</script>
<script>
    var model=document.getElementById('login-form');
    window.onclick=function(event){
            if(event.target==model){
                model.style.display="none";
            }
        }   
</script> -->
