/* footer{
    background-color: black;
    color: white;
    position: relative;
    margin-top: auto;
    position: fixed;
    width: 100%;
    bottom: 0px;
} */
:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.side{
    /* width: 180px; */
    background-color: black;
    transform: translateX(-180px);
    overflow: hidden;
}
mat-drawer-container{
    height: 100%;
}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    border-top: solid white 3px;
}
h4{
    letter-spacing: 15px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Cutive Mono', monospace;
}
.social-links{
    display: flex;
    justify-content: space-between;
    margin-left: 550px;
    margin-right: 550px;
}
