    <!-- <img src="/assets/images/welcome.jpg" class="bg"> -->  
<mat-toolbar color="primary">
    
    <div [ngClass]="'nav'" >
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
          </button>
   <button mat-icon-button>
   <mat-icon routerLink="/home">home</mat-icon>Home
</button>
</div>
<div [ngClass]="'nav'">
        <button mat-icon-button routerLink="/login" routerLinkActive="true">
        <mat-icon >login</mat-icon>
        Login
        </button>
        <span class="first"></span>
        <button mat-raised-button routerLink="/signup">
        SIGN UP
        </button>
    </div>
 </mat-toolbar>
 

 <!-- <div class="sidenav">
     <div class="logo-container">
        <button class="logo"></button>
         <div class="logo-text"></div> 
        <button class="btn-close"></button>
</div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item">
            <a href="" class="sidenav-nav-link"> 
                <i class="sidenav-link-icon"></i> 
                <span class="sidenav-link-text"></span>
            </a>
        </li>
    </ul>
</div> -->

