/* div{
    text-align: left;
} */
/* .hotel{
    width: 250px;
    height: 250px;
} */
/* .card{
    padding-top: 140px;
    display: flex;
    justify-content: space-evenly;
} */
/* .name{
    display: flex;
    justify-content: space-between;
}
h2,h4{
    margin: 0%;
}
.card{
    
} */
.mat-card-avatar{
    height: 250px;
    width: auto;
}
.mat-card{
    padding: 50px;
}
div{
    padding: 60px;
}