<!-- <p>hotel-details works!</p>
<div class="card">
  <div>
    <img src="/assets/images/bbsr.png" class="hotel" />
    <h1>hi</h1>
  </div>
  <div>
    <div class="name">
       <div>
      <h1>{{ hotel.hotelName |uppercase}}</h1>
      <h2>{{hotel.address.city}}</h2>
      <h4>{{hotel.address.properAddress}}</h4>
      <h6>{{hotel.address.state}} {{hotel.address.pinCode}}</h6>
</div>
    </div>
    <!-- <div *ngFor="let details of hotel.address | keyvalue">
      {{details.key}}
    </div> -->
  <!-- </div>
</div> -->
<button onclick="history.back()" class="back"><mat-icon ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
  <path fill="currentColor" d="M13.5 21H6V17H13.5C15.43 17 17 15.43 17 13.5S15.43 10 13.5 10H11V14L4 8L11 2V6H13.5C17.64 6 21 9.36 21 13.5S17.64 21 13.5 21Z" />
</svg></mat-icon></button>

<div class="card" *ngIf="hotel">
<mat-card>
    <!-- <div mat-card-avatar> -->
        <img src="{{hotel.hotelImg}}" class="hotel" />    
    <!-- </div> -->
    <div class="details">
    <mat-card-header>
        <mat-card-title>{{ hotel.hotelName |uppercase}}</mat-card-title>
        <mat-card-subtitle>{{hotel.address.properAddress}}<br>
            {{hotel.address.state}},
            {{hotel.address.pinCode}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>Price Per Day</h3>
        <div>
            <h5>{{price|currency}}</h5>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="bookingForm(hotel.hotelId)">Book Now</button>
        <!-- <button mat-button>actionTwo</button> -->
        </mat-card-actions>
    </div>
</mat-card>
</div>

